/* =========================
   CONFIGURAÇÃO GERAL
========================= */

* {
    box-sizing: border-box;
}


body {

    margin: 0;

    font-family: Arial, Helvetica, sans-serif;

    background: #f8f5ff;

    color: #222;

}



/* =========================
   CABEÇALHO
========================= */

.cabecalho {

    background: linear-gradient(135deg, #111, #6a0dad, #b76cff);

    color:white;

    text-align:center;

    padding:40px;

}



.cabecalho h1 {

    margin:0;

    font-size:40px;

}




/* =========================
   MENU
========================= */

.navbar {

    background:#111 !important;

}


.nav-link:hover {

    color:#c77dff !important;

}



/* =========================
   BOTÕES
========================= */

.barra {

    text-align:center;

    padding:20px;

}


.barra button {

    margin:5px;

    border-radius:20px;

}



/* =========================
   TITULOS
========================= */

h2 {

    text-align:center;

    color:#7b2cbf;

    margin:40px 0;

}




/* =========================
   ORGANIZAÇÃO DOS CARTÕES
========================= */

.cartoes {

    display:flex;

    justify-content:center;

    gap:25px;

    flex-wrap:wrap;

}




/* =========================
   CARTÃO PEQUENO
========================= */


.cartao {

    width:230px;

    height:280px;

    perspective:900px;

}




/* PARTE QUE GIRA */

.cartao-interno {

    width:100%;

    height:100%;

    position:relative;

    transition:transform .7s ease;

    transform-style:preserve-3d;

}



/* GIRAR SOMENTE O CARTÃO */

.cartao:hover .cartao-interno {

    transform:rotateY(180deg);

}





/* FRENTE E VERSO */

.frente,
.verso {

    position:absolute;

    width:100%;

    height:100%;

    padding:15px;

    border-radius:20px;

    background:white;

    border:3px solid #9d4edd;

    box-shadow:0 8px 20px rgba(106,13,173,.25);

    text-align:center;

    backface-visibility:hidden;

    overflow:hidden;

}




/* IMAGENS */

.frente img {

    width:100%;

    height:130px;

    object-fit:cover;

    border-radius:15px;

}




/* VERSO */

.verso {

    transform:rotateY(180deg);

    background:#eadcff;

    border-color:#7b2cbf;

    display:flex;

    justify-content:center;

    align-items:center;

    flex-direction:column;

}





/* TEXTO DOS CARTÕES */

.cartao h3 {

    color:#6a0dad;

}


.cartao p {

    font-size:15px;

}




/* =========================
   RODAPÉ
========================= */

footer {

    background:#111;

    color:white;

    text-align:center;

    padding:20px;

    margin-top:40px;

}